.Navbar {
    background-color: #e8e8e8;
    border: none;
    text-align: center;
    padding-left: 0;
    list-style: none;
    z-index:999999 !important;
    position: relative;
}

.Navbar__Ul{
    text-align: center;
    margin: 0;
}

.Navbar__Ul__Li{
    display: inline-block;
    float: none;
    position: relative;
}

.Navbar__Ul__Li__Link{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    display: block;
    color: #000;
    text-decoration: none;
}

.Current{
    color: #fff;
    background-color: #000;
}